.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:36px;
    font-size:16px;
}
.nav-connect{
    padding:15px 30px;
    border-radius:34px;
    background: linear-gradient(267deg,#da7c25 0.36%,#B923E1 102.06%);  /*orginal*/
    font-size: 20px;
    cursor: pointer;
    transition: 0.43s;
}
.nav-connect:hover{
    transform: scale(1.09) translate(1px,3px) rotate3d(0.707, 0.707, 0,28deg);

    /* background:linear-gradient(267deg,#da7c25 0.36%,#B923E1 102.06%); */
}